version: "3.3"
services:
  clothing-model:
    image: zoomcamp-10:xception-1
  server:
    image: zoomcamp-10:server-2
    environment:
      - TF_SERVING_HOST=clothing-model:8500
    ports:
      - "9696:9696"